body {
    background: #ffffff;
    Color: #fff; 
}
nav{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif ;
    color: black;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
p{
    font-size: 20px;
    color: #0f0101;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    color: black;
}