*{
    margin: 0%;
    padding: 0;
}
body {
    background: #ffffff;
    Color: #fff; 
}
header{
    background-color: black;
    max-width: 1500px;
    width: 450%;
    
}
nav{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif ;
    color: black;
    text-align: center;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
p{
    font-size: 20px;
    color: #0f0101;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    color: white;
    text-align: center;
    background-color: black;
}

.Parrafo{
    font-size: 20px;
    color: #770808;
    font-family: Arial, Helvetica, sans-serif;
}
main img{
    margin: auto;
    display: block;
}
nav ul li {
    list-style: none;
    background-color: black;
}
header nav ul li{
    float: left;
    text-align: center;
    margin: auto;      
}
header nav{
    overflow: hidden;
}
header nav ul li a{
    padding: 10px 100px;
    display: block;
    color: white;
    text-decoration: none;
}
header nav ul li a:hover{
    background: rgb(22, 22, 22);
}

.main{
    
}
.img1{
    float: left;
}